body, html{
    font-family: 'Gotham Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background: #F0EBE8;
}
.container{
    max-width:1549px;
    width:100%;
    margin:0 auto;
    background-color: #f0ebe8;
}
.header{
    position:relative;
}
.header-inner{
    padding:27px 30px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    position:relative;
}
.wave-bg::after{
    content:'';
    position:absolute;
    background: url('../img/wave.png');
    background-repeat: repeat-x;
    width:100%;
    height:23px;
    left:0; 
    bottom:-11px;
    z-index:3;
}
.logo-block{
    display:flex;
    align-items: center;
    margin-right:15px;
}
.logo-link{
    color:#333;
}
.logo-img{
    margin-right:5px;
}
.logo-text{
    padding-top:6px;
}
.logo-title{
    font-family: 'Bebas Neue',sans-serif;
    font-size:29px;
    font-weight:400;
    line-height:0.7;
    margin-bottom:5px;
}
.logo-desc{
    font-size:14.5px;
    font-weight:300;
    line-height:1.3;
    color:#d4416a;
}
.header-nav{
    max-width:618px;
    flex-grow:1;
}
.header-nav-list{
    display:flex;
    justify-content: space-between;
}
.header-list-item{
    margin-right:5px;
    line-height:1.5;
}
.header-list-item:last-child{
    margin-right:0;
}
.header-list-link{
    color:#333;
    text-transform: uppercase;
    position:relative;
    transition: 0.2s;
}
.header-list-link:hover{
    color:#d4416a;
}
.active-link{
    color:#d4416a;
}
.active-link::before{
    content:'';
    position:absolute;
    bottom:-8px;
    left:0;
    height:1px;
    width:100%;
    background: #d4416a;
}
.header-contacts{
    display:flex;
    flex-direction: column;
    margin-left:10px;
}
.phone{
    font-size:14px;
    font-weight:500;
    color:#333;
    line-height:2;
    display:flex;
    align-items: center;
}
.phone-link{
    margin-left:7px;
    color:#333;
}
.phone-link span{
    font-weight: 300;
    
}
/*==============Section offer====
================================*/
.offer{
    background:linear-gradient(to left, #dfe1d3, #e0e2d5);
    position:relative;
}
.offer-inner{
    background:linear-gradient(to left, #dfe1d3, #e0e2d5);
    position:relative;
    display:flex;
    padding:100px 0 50px;
    text-align:center;
}

.offer::after{
    transform:rotate(180deg);
}
.offer-img-face{
    position:absolute;
    bottom:0;
    right:0;
    width:50%;
    height:100%;
}
.offer-block{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex-basis:49%;
    align-self:flex-start;
    padding-bottom:50px;
}
.offer-title{
    font-size:48px;
    font-family: 'Bebas Neue', sans-serif;
    line-height:1;
    margin-bottom:40px;
}
.offer-title span{
    color:#d4416a;
}
.offer-text{
    line-height:2;
    margin-bottom:35px;
    max-width:445px;
    font-size:18px;
}
.text-left{
    text-align:initial;
}
.btn{
    color:#fff;
    line-height:1.6;
    background: #d4416a;
    text-transform: uppercase;
    padding:20px 35px;
    border-radius: 5px;
    display:inline-block;
    border-bottom:3px solid #ab3456;
}
.btn:hover{
    border-bottom:3px solid #d4416a;
}
.offer-btn{
    margin-bottom:10px;
}
.btn span{
    font-weight:700;
}
.offer-img{
   position:relative;
    z-index:10;
    margin-top:auto;
    width:14.84%;
    height:68.49%;
    align-self:flex-end; 
    cursor:pointer;
}
.offer-img-mob{
    display:none;
}
.offer-img-product{
    max-width:230px;
    max-height:423px;
    min-width: 157px;
    min-height: 289px;
    width:100%;
    height:100%;
}
.offer-price{
    width:59.13%;
    height:31.44%;
    min-height:73px;
    min-width:73px;
    background: url('../img/price.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:0;
    left:0;
    transform:translate(-50%,-30%);
    display:flex;
    align-items:center;
    justify-content:center;
}
.offer-price-text{
    font-size:28px;
    line-height:1;
    color:#fff;
    font-weight:500; 
    text-align:center;
    transform:rotate(15deg);
    text-transform: uppercase;
}
.offer-price-text span{
    display:block;
    font-size:0.7em;
    font-weight:initial;
}

/*================Section about
===============================*/
/*===========/////Section about
================================*/
.about-inner{
    padding:80px 30px 70px 30px;
    background: url('../img/about-lip.png');
    background-repeat: no-repeat;
    background-position:96% 98%;
    position:relative;
}
.about-inner::after{
    bottom:-23px;
    height:35px;
}
.about-title{
    font-size:36px;
    line-height:1;
    font-family: 'GothamPro', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color:#d4416a;
    margin-bottom:55px;
    text-align:center;
}
.about-block{
    display:flex;
}
.about-img{
    width: 340px;
    height: 340px;
    background: #d47e96 url('../img/about-photo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity:0.9;
    border-radius:50%;
}
.about-information{
    flex-basis:60%;
    display:flex;
    align-items:center;
    flex-direction:column;
    padding-right:150px;
    padding-bottom:60px;
    margin-left:30px;
    min-height:500px;
}
.about-photo{
    margin-left:auto;
    margin-right:30px;
    align-self:flex-start;
}
.about-text{
    font-size:16px;
    line-height:2.1;
    max-width:760px;
    margin-bottom:70px;
    margin-top:auto;  
}
.about-text span{
    font-weight:700;
}
.about-btn{
    margin-bottom:40px;
}
