@media (max-width:1330px){
    .offer-inner{
        padding:45px 0 30px 40px;
         overflow: hidden;
    }
      .offer-img-face{
        right:-33px;
    }
    .offer-img{
        margin-bottom:auto;
    }
    .offer-block{
        text-align:left;
        justify-content:flex-start;
        align-items:flex-start;
        padding-bottom:0;
        flex-basis:51%;
    }
    .offer-title{
        font-size:36px;
        line-height:1.3;
        margin-bottom:45px;
        line-height:1.6;
    }
    .offer-text{
        font-size:14px;
        margin-bottom:45px;
        max-width:395px;
    }
    .offer-text p{
        display:inline;
    }
    .btn{
          font-size:14px;
    }
  
    .about-inner{
        padding:55px 65px 30px;
        background: initial;
    }
    .about-title{
        font-size: 28px;
        line-height:1.3;
    }
    .about-information{
        padding:0;
        margin-left:0;
        flex-basis:70%;
        min-height:auto;
    }
    .about-text{
        font-size:14px;
        line-height:2.6;
        max-width:611px;
        margin-bottom:30px;
    }
    .about-photo{
        margin-right:15px;
    }
    .about-img{
        width: 228px;
        height: 227px;
    }
}
@media (max-width:1024px){
    .header-inner{
        padding-left:67px;
        padding-right:67px;
    }
    .header-nav{
        order:3;
        max-width: 100%; 
        padding: 30px 0 20px;
        font-size:18px;
    }
    .offer-price-text{
        font-size: 20px;
    }
 
}
@media (max-width:968px){
    .offer-inner{
        background: #f1f1f1;
    }
    .offer-img-face{
        display:none;
    }
    .offer-block{
        flex-grow:1;
    }
    .offer-img{
        margin-right:40px;
    }
    .offer-img-product{
    min-width: 118px;
    min-height: 219px;
        
}
@media (max-width:768px){
    .header-inner{
        padding-left:20px;
        padding-right:20px;
    }
    .header-nav{
        font-size:12px;
    }
    .offer-inner{
        padding:35px 20px 15px;
    }
    .offer-block{
        flex-grow:1;
        text-align:center;
        justify-content:center;
        align-items:center;
    }
    .offer-img-mob{
        display:block;
        align-self:center;
        margin-bottom:25px;
    }
    .offer-img-des{
        display:none;
    }
    .offer-price-text{
        font-size:16px;
    }
    .offer-text{
        margin-top:10px;
        max-width:none;
        margin-bottom:20px;
        order:4;
    }
    .offer-text p.text-left{
        text-align:center;
    }
    .about-block{
        flex-wrap:wrap;
        justify-content:center;
        text-align:center;
    }
    .about-photo{
        margin:0 0 20px;
    }
    .about-information{
        flex-basis:100%;
    }

}